DATABASE_URL=postgresql://postgres:<password>@db.kqyjmfqtduboiqcbypyu.supabase.co:5432/postgres

TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=1850995106
TELEGRAM_WEBHOOK_SECRET=change-me-to-a-random-secret
PUBLIC_WEBHOOK_BASE_URL=

APP_NAME=TheSecond Backend
ENVIRONMENT=development

